<%= form_with(model: @sub_skill, local: true, class: 'form-horizontal sub_skill') do |f| %>
    <% if @sub_skill.errors.any? %>
        <div id="error_expl" class="panel panel-danger">
          <div class="panel-heading">
            <h3 class="panel-title"><%= pluralize(@sub_skill.errors.count, "error") %> prohibited this Title from being saved:</h3>
          </div>
          <div class="panel-body">
            <ul>
              <% @sub_skill.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        </div>
    <% end %>
    <div class="box-body">
      <div class="col-md-6 col-xs-offset-2">
        <div class="form-group">
          <%= f.label :skill_id, :class => 'col-sm-3 control-label' %>
          <div class="col-sm-9">
            <%= f.select :skill_id, SubSkill.dropdown_options, {selected: @sub_skill.skill_id}, class: 'select2 form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :title, :class => 'col-sm-3 control-label' %>
          <div class="col-sm-9">
            <%= f.text_field :title, class: 'form-control' %>
          </div>
        </div>
      </div>
    </div>

    <div class=" box-footer">
      <div class="col-md-6 col-xs-offset-2 pull-right">
        <%= f.submit nil, :class => 'btn btn-info' %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")), sub_skills_path, :class => 'btn btn-default' %>
      </div>
    </div>

<% end %>