<tr data-link="<%= sub_skill_path(sub_skill) %>">
  <td><%= sub_skill.id %></td>
  <td><%= sub_skill.skill&.category&.title %></td>
  <td><%= sub_skill.skill&.title %></td>
  <td><%= sub_skill.title %></td>
</tr>
