<!doctype html>
<html>
<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0"
      style="margin: 0pt auto; padding: 0px; background:#F4F7FA;">
<h2>Hi <%= @buyer.fullname %>!</h2>
<table id="main" width="100%" height="100%" cellpadding="0" cellspacing="0" border="0"
       bgcolor="#F4F7FA">
  <tbody>
  <tr>
    <td valign="top">
      <table class="innermain" cellpadding="0" width="580" cellspacing="0" border="0"
             bgcolor="#F4F7FA" align="center" style="margin:0 auto; table-layout: fixed;">
        <tbody>
        <!-- START of MAIL Content -->
        <tr>
          <td colspan="4">
            <!-- Logo start here -->
            <table class="logo" width="100%" cellpadding="0" cellspacing="0" border="0">
              <tbody>
              <tr>
                <td colspan="2" height="30"></td>
              </tr>
              <tr>
                <td valign="top" align="center">
                  <a href="app.profilerlife.com" style="display:inline-block; cursor:pointer; text-align:center;">
                    Profiler
                  </a>
                </td>
              </tr>
              <tr>
                <td colspan="2" height="30"></td>
              </tr>
              </tbody>
            </table>
            <!-- Logo end here -->
            <!-- Main CONTENT -->
            <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff"
                   style="border-radius: 4px; box-shadow: 0 2px 8px rgba(0,0,0,0.05);">
              <tbody>
              <tr>
                <td height="40"></td>
              </tr>
              <tr style="color:#4E5C6E; font-size:14px; line-height:20px; margin-top:20px;">
                <td class="content" colspan="2" valign="top" align="center" style="padding-left:90px; padding-right:90px;">
                  <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff">
                    <tbody>
                    <tr>
                      <td align="center" valign="bottom" colspan="2" cellpadding="3">
                      </td>
                    </tr>
                    <tr>
                      <td height="30" &nbsp;=""></td>
                    </tr>
                    <tr>
                      <td align="center"> <span style="color:#48545d;font-size:22px;line-height: 24px;">You Have Successfully Purchased Tickets</span>

                      </td>
                    </tr>
                    <tr>
                      <td height="24" &nbsp;=""></td>
                    </tr>
                    <tr>
                      <td height="1" bgcolor="#DAE1E9"></td>
                    </tr>
                    <tr>
                      <td height="24" &nbsp;=""></td>
                    </tr>
                    <tr>
                      <td align="left"> <span style="color:#48545d;font-size:14px;line-height:24px;">Here is details of purchased tickets for the event <%= @event.title %>:</span>

                        <table style="width: 100%">
                          <tr>
                            <td style="font-weight: bold">Ticket Name</td>
                            <td style="font-weight: bold">Purchased Tickets</td>
                            <td style="font-weight: bold">Price($)</td>
                          </tr>
                          <% @packegs.each do |pckg| %>
                              <tr>
                                <td><%= pckg[:title] %></td>
                                <td><%= pckg[:count] %></td>
                                <td><%= pckg[:price] %></td>
                              </tr>
                          <% end %>
                        </table>

                      </td>
                    </tr>
                    <tr>
                      <td height="20" &nbsp;=""></td>
                    </tr>
                    <tr>
                      <td valign="top" width="48%" align="center"> <span>
                        <%#= link_to 'Confirm Email Address', confirmation_url(@resource, confirmation_token: @token), style: "display:block; padding:15px 25px; background-color:#0087D1; color:#ffffff; border-radius:3px; text-decoration:none;" %>

        </span>

                      </td>
                    </tr>

                    <tr>
                      <td height="20" &nbsp;=""></td>
                    </tr>
                    <tr>
                      <td align="left">
                        <p>Total Tickets: <%= @total %></p>
                        <p>Total Price($): <%= @total_price %></p>
                      </td>
                    </tr>
                    <tr>
                      <td height="20" &nbsp;=""></td>
                    </tr>
                    <tr>
                      <td align="center">
                        Please bring the tickets with you at the time of event.
                      </td>
                    </tr>
                    <tr>
                      <td height="3" bgcolor=""></td>
                    </tr>
                    <tr>
                      <td align="center">
                       <h4> Following are the QR Code for purchased tickets.</h4>
                      </td>
                    </tr>
                    <tr>
                      <td height="1" bgcolor="#DAE1E9"></td>
                    </tr>
                    <tr>
                      <td>
                        <table style="width: 100%">
                          <% @tickets.each do |ticket| %>
                            <tr>
                              <td> <%= ticket.ticket_package.ticket_type+"_"+ticket.id.to_s %></td>
                              <td> <img src="https://chart.googleapis.com/chart?chs=150x150&amp;cht=qr&amp;chl=<%= ticket.id.to_s%>" alt="QR code 2">
                              </td>
                            </tr>
                          <% end %>
                        </table>
                      </td>
                    </tr>
                    <tr><td><h3>Account Activation</h3></td></tr>
                    <tr>
                      <td>
                        <% if @external_user_p %>
                          You can activate your account and login on app using following link and credentials
                        <% end %>
                      </td>
                    </tr>
                    <tr><td>Email: <%= @buyer.email %></td></tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td height="60"></td>
              </tr>
              </tbody>
            </table>
            <!-- Main CONTENT end here -->
            <!-- PROMO column start here -->
            <!-- Show mobile promo 75% of the time -->

            <!-- PROMO column end here -->
            <!-- FOOTER start here -->
            <table width="100%" cellpadding="0" cellspacing="0" border="0">
              <tbody>
              <tr>
                <td height="10">&nbsp;</td>
              </tr>
              <tr>
                <td valign="top" align="center"> <span style="color:#9EB0C9; font-size:10px;">&copy;
                  <a href="app.profilerlife.com" target="_blank" style="color:#9EB0C9 !important; text-decoration:none;">Profiler</a> 2021
                          </span>

                </td>
              </tr>
              <tr>
                <td height="50">&nbsp;</td>
              </tr>
              </tbody>
            </table>
            <!-- FOOTER end here -->
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
</body>

</html>
