<tr data-link="<%= appointment_path(appointment) %>">
  <td><%= appointment.id %></td>
  <td><%= appointment.start_time %></td>
  <td><%= appointment.end_time %></td>
  <td><%= appointment.status %></td>
</tr>
